.search-message{
    padding: 20px 0;
    max-width: 1400px;
    width: 100%;
     
    span{ 
        display: block;
        height: 30px;
        line-height: 30px;
        background-color: rgb(234, 241, 243); 
        width: 100%;
        text-align: center;
    }
}