.modal{
    position: absolute;
    top: 0;
    left:0;

    .modal-outer-layer{
        position: fixed;
        width: 100%;
        height: 100%; 
        background: rgba(10, 12, 14, 0.623); 
        z-index: 1;
        padding: 0 ;
        width: 100%;
    }

    .modal-content{
        position: fixed;
        display: grid;
        max-width: 700px;
        min-height: 400px; 
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%); 
        background: #fff;
        border-radius: 2px;
        grid-template-rows: auto 1fr auto auto;
        grid-template-columns: 1fr;
        z-index: 2;

        .modal-content-top{
            padding: 20px;

            .react-tabs{
                padding-bottom: 0;
                margin-bottom: 0;

                ul{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    list-style-type: none;
                    padding: 0;

                    li{
                        list-style: none;
                        text-align: center;
                        border-bottom: 1px solid #666;
                        cursor: pointer;

                        &.react-tabs__tab--selected{
                            border:  1px solid #666;
                            border-bottom: none;
                            line-height: calc(100% - 1px);
                        }
                    }
                }
            }

            h5{
                margin: 20px 0 10px 0;
            }

            .modal-content-img{
                display: block;
                width: 220px;
                height: auto; 
                margin: 0 auto;
            }

            .modal-content-description{
                text-align: left;
                padding: 5px 20px;
                width: calc(100%-40px);
                max-height: 140px;
                overflow-y: scroll;
                //border: 1px solid #666;
                background: rgba(234, 241, 241, 0.6);
            } 

            .modal-content-actors{
                text-align: left;
                padding: 5px 20px;
                max-height: 140px;
                overflow-y: scroll;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                background: rgba(234, 241, 241, 0.6);

                ul{
                    border: none;
                    list-style-position: inside;

                    li{
                        border: none;
                        margin: 5px 0 5px 10px;
                        list-style:circle;
                        text-align: left;
                    }
                }
            } 

        }


        .select-stars{
            width: 240px;
            margin: 0 auto;
            padding: 10px 0;

            select{
                background-color: rgb(254, 255, 191);
                border-radius: 15px;
                padding: 0 4px;
            }

            span{
                &:first-of-type{
                    padding-right: 5px;
                }

                &:last-of-type{
                    padding-left: 5px;
                }
            }

            button{
                margin-top: 10px;
            }
        }

        button{
            cursor: pointer;
            background-color: #fff;
            border: 1px solid #999;
            outline: none;
            width: 100%;
            height: 40px;
            line-height: 38px;
            border-radius: 0 0 2px 2px;

            &:hover{
                background-color: #ebf2f5;
                border: 1px solid #666;
            }
        }
    }

    
}